@use 'global';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins';
}

html {
    scroll-behavior: smooth;
}

body {
    background: global.$primary-white-pure-color;
    width: 100%;
    overflow-x: hidden;
}

nav {
    @include global.back-dropped-nav;

}

button {
    @include global.button;
    gap: 10px;

    span {
        a {
            color: white;
        }
    }

}

.wrapper-header-nav {
    display: flex;

    section {
        background: rgb(237, 237, 237, .1);
        width: 50%;
        height: 100%;
        @include global.center-object;
    }

    .header-nav-logo {
        font-family: global.$font-logo;
        position: relative;
    }

    .header-nav-button {
        justify-content: right;

        button {
            position: relative;
            right: 5%;
        }
    }
}

main {
    position: relative;
    padding-top: 10vh;

    section {
        position: relative;
        height: 100vh;
        padding-top: 10vh;
    }

    .top {
        padding-top: 0vh;

        section {
            width: 100%;
            height: 50%;
        }

        .top-logo {
            padding-left: 40pt;
            align-content: center;

            h1 {
                font-family: global.$font-logo;
                font-weight: 600;
                font-size: 95pt;
                font-style: normal;
                opacity: 0;
                transform: translateY(20px);
                animation: paragraphEntrance 1s ease-out forwards;
                animation-delay: 1.5s;
            }

            div {
                p {
                    font-family: 'Manjari';
                    opacity: 0;
                    animation: paragraphEntrance 1s ease-out forwards;
                    animation-delay: 2.0s;
                }
            }
        }

        .top-hero {
            @include global.center-object;
            font-family: 'poppins';

            .top-hero-card {
                @include global.center-object;
                background: rgb(241, 241, 241);
                width: 90%;
                height: 550px;
                border-radius: 15px;
                background: url(/static/resources/helping-hands.jpg);
                background-position: center;
                background-repeat: repeat;
                background-size: cover;
                backdrop-filter: blur(10px);
                position: absolute;
                opacity: 0;
                transform: translateY(40%);
                animation: top-hero-animation 1.5s ease-out forwards;
                animation-delay: 2.0s;

                .card-main {
                    width: 100%;
                    height: 100%;
                    background: rgb(237, 237, 237, .1);
                    backdrop-filter: blur(10px);
                    color: white;
                    border-radius: 15px;
                    @include global.center-object;
                }
            }
        }
    }

}

.authentication {
    margin: 0;
    padding: 0%;
    @include global.center-object;

    .login {
        h1 {
            color: white;
            font-family: 'poppins';
            position: relative;
            bottom: 10%;
        }

        .wrapper-main-form {
            background: rgba(17, 24, 39, 1);
            height: 400px;
            width: 350px;
            border-radius: 5px;
            @include global.center-object;
            flex-direction: column;
            gap: 10pt;
            position: relative;
            bottom: 5%;

            div {
                width: 90%;
                height: 40px;
                background: white;

                @include global.center-object;
                border-radius: 15px;
                position: relative;
                bottom: 5%;

                input {
                    width: 85%;
                    height: 100%;
                    background: white;
                    outline: none;
                    border: none;
                    font-family: 'poppins';
                    border-radius: 15px;
                }

                label {
                    width: 15%;
                    @include global.center-object;
                }
            }

            article {
                position: relative;
                bottom: 5%;
                width: 85%;
                display: flex;
                align-items: right;
                justify-content: right;

                a {
                    color: white;
                    text-decoration: none;
                    font-family: 'poppins';
                    font-weight: 100;
                    font-size: 10pt;
                    transition: ease 0.5s linear;

                    &:hover {
                        text-decoration: underline;
                    }
                }




            }

            .passcode {
                input {
                    width: 80%;
                }

                i {
                    width: 10%;
                    @include global.center-object
                }
            }

            .login-form-navigation {
                position: relative;
                top: -10px;
                outline: none;
                display: flex;
                flex-direction: column;
                background: none;

                button {
                    border-radius: 0.378rem;
                    width: 65%;

                    .loader {
                        position: relative;
                        left: 30%;
                        display: none;

                        i {
                            display: flex;
                        }
                    }

                    .spinner {
                        border: 2px solid white;
                        border-top: 2px solid transparent;
                        border-radius: 50%;
                        width: 16px;
                        height: 16px;
                        animation: spin 1s linear infinite;
                        position: relative;
                        left: 35%;
                        display: none;
                    }

                }

                aside {
                    position: relative;
                    top: 5px;
                    left: 2%;
                    @include global.center-object;
                    gap: 10pt;
                    font-family: 'Quicksand';
                    color: white;

                    button {
                        outline: none;
                        background: none;
                        color: white;
                        height: fit-content;
                        width: fit-content;
                        margin: 0;
                        padding: 0;
                        font-weight: 100;
                        font-family: 'Quicksand';
                    }

                    a {
                        color: white;
                        font-weight: 100;
                        font-size: 10pt;
                    }
                }
            }

        }

        .sign-up {
            display: none;
        }

        .recover-email {
            position: relative;
            transform: translateX(5%);
            opacity: 0;
            display: none;
            transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        }
    }

}

.hero {
    color: black;

    .dashboard-nav {

        height: 5vh;

        .logo {
            article {
                color: global.$primary-white-dove-color;
                position: relative;
                right: 15%;
                opacity: 0;
                transform: translatex(15px);
                animation: logo-animation 1s ease-in forwards;
                animation-delay: 1.0s;
            }
        }

        .user {
            gap: 10pt;

            span {
                background: black;
                position: relative;
                left: 20%;
                color: global.$primary-white-pure-color;
            }

            .badge {
                height: 35px;
                width: 35px;
                border-radius: 100%;
                @include global.center-object;
                cursor: pointer;
                background: global.$primary-white-dove-color;
                color: #051937;

                #user-icon {
                    width: 100%;
                    height: 100%;
                    @include global.center-object;
                }

                .options {
                    position: absolute;
                    z-index: 1;
                    height: 200px;
                    border-radius: 5px;
                    width: 150px;
                    top: 7.5vh;
                    box-shadow: #0000;
                    display: none;
                    background: global.$primary-white-dove-color;

                    ul {
                        width: 100%;
                        list-style: none;
                        height: 100%;

                        li {
                            list-style: none;
                            color: white;
                            background: black;
                            width: 100%;
                            height: 20%;
                            display: flex;
                            align-items: center;
                            padding-left: 5px;
                        }

                        .log-out {
                            align-items: center;
                            justify-content: space-between;

                            i {
                                padding-right: 10px;
                            }
                        }

                        .li:hover {
                            background: #3b3e3e;
                        }
                    }
                }
            }

            .theme {
                height: 30px;
                width: 110px;
                border-radius: 25px;
                @include global.center-object;
                font-family: poppins;
                font-weight: 300;
                font-size: small;
                flex-direction: row;
                background: global.$primary-white-dove-color;
                cursor: pointer;
            }

            .current-theme {
                width: fit-content;
                display: flex;
                color: black;
                position: relative;
                left: 5%;
                opacity: 0;
                transform: translateY(15px);
                background: none;
                animation: current-theme-animation 1s ease-in forwards;
            }
        }
    }
}

.light {
    background: global.$primary-white-pure-color;
    color: #000101;
}

.alert-popup {
    position: fixed;
    top: 85%;
    left: 75%;
    height: 50px;
    width: 350px;
    background-color: global.$primary-white-pure-color;
    border-radius: 5px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    display: flex;
    opacity: 0;
    transform: translateY(190%);
    transition: all 0.5s;
    z-index: 1000;
    .alert-popup-icon {
        width: 15%;
        @include global.center-object;
        height: 100%;

        i {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            @include global.center-object;
            color: white;
        }
    }

    .alert-popup-message {
        width: 70%;
        display: flex;
        align-items: center;
        height: 100%;
    }

    .alert-popup-action {
        width: 15%;
        height: 100%;
        @include global.center-object;
    }
}

.alert-popup.show {
    opacity: 1;
    transform: translateY(0%);
}

.alert-success {
    background: global.$primary-white-pure-color;
}

.alert-error {
    background: global.$primary-white-pure-color;
}


footer {
    min-height: 100%;
    @include global.center-object;
    font-family: 'poppins';
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes paragraphEntrance {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes top-hero-animation {
    0% {
        opacity: 0;
        transform: translateY(40%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes logo-animation {
    0% {
        opacity: 0;
        transform: translateX(15px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes current-theme-animation {
    0% {
        opacity: 0;
        transform: translateY(15px);

    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}